menu "NFC Attendance System"

menu "WiFi Configuration"

config WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
        SSID (network name) for the device to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
        WiFi password (WPA or WPA2) for the device to use.

config WIFI_HOSTNAME
    string "WiFi Hostname"
    default "nas-01"
    help
        WiFi hostname for the device to use.

config ENABLE_SMART_CONFIG
    bool "Enable Smart Config"
    default y
    help
        Select this to enable wifi smartconfig.

config STORE_WIFI_TO_NVS
    bool "Store WiFi Configuration to NVS Flash"
    default y
    depends on ENABLE_SMART_CONFIG
    help
        Select this to store wifi configuration to nvs flash.

config SC_KEY_PIN
    int "SmartConfig Key Pin"
    default 0
    depends on ENABLE_SMART_CONFIG
    help
        Smart Config Key Pin.

endmenu

menu "Server Configuration"

config SERVER_URL
    string "Server URL"
    default "example.com"
    help
        Server URL.

choice TRANSFER_PROTOCOL
    prompt "Transfer Protocol"
    default TRANSFER_PROTOCOL_HTTPS
    help
        Select to use which transfer protocol.

config TRANSFER_PROTOCOL_HTTP
    bool "http"
    help
        Select this to use http.

config TRANSFER_PROTOCOL_HTTPS
    bool "https"
    help
        Select this to use https.

endchoice

config ENABLE_SERVER_CERT_VERIFY
    bool "Verify Server SSL Certificate"
    default "y"
    depends on TRANSFER_PROTOCOL_HTTPS
    help
        Select this to enable server ssl certificate verification.

endmenu

menu "Pin Configuration"

config PN532_RST_PIN
    int "PN532 Reset Pin"
    default 26
    help
        PN532 Reset Pin.

config PN532_TXD_PIN
    int "PN532 TXD Pin"
    default 17
    help
        PN532 TXD Pin.

config PN532_RXD_PIN
    int "PN532 RXD Pin"
    default 16
    help
        PN532 RXD Pin.

endmenu

config ENABLE_AUDIO
    bool "Enable Audio Output"
    default y
    help
        Select this to enable audio output.

config ENABLE_OTA
    bool "Enable OTA Update"
    default y
    help
        Select this to enable ota update.

menuconfig ENABLE_GUI
    bool "Enable GUI"
    default y
    help
        Select this to enable gui.

choice SCREEN_PANEL
    prompt "Screen Panel"
    default SCREEN_PANEL_ST7735
    depends on ENABLE_GUI
    help
        Select to use which screen panel.

config SCREEN_PANEL_SSD1331
    bool "SSD1331 96x64 OLED Panel"
    help
        Select this to use ssd1331 96x64 oled panel.

config SCREEN_PANEL_ST7735
    bool "ST7735 160x80 LCD Panel"
    help
        Select this to use st7735 160x80 lcd panel.

endchoice

menuconfig ENABLE_LED
    bool "Enable LED"
    default y
    help
        Select this to enable led.

config LED_PIN
    int "LED Pin"
    default 25
    depends on ENABLE_LED
    help
        LED pin for the device to use.

config FIRMWARE_VERSION
    string "Firmware Version"
    default "v6.0.0"
    help
        Set firmware version.

endmenu
